@model IEnumerable<Mu.NETcms.Models.NewsPost>
@{
    ViewBag.Title = "News";
}

<ul id="general_news">
    @foreach (var post in Model)
    {
        <li>
            <div class="image"><a href="#"><img alt="alt_example" src="@Url.Content("~/Content/Images/news/"+@post.Image)" /></a></div>
            <ul class="social_share">
                <li><a href="#"><img alt="alt_example" src="~/Content/Images/fbk.png" border="0" /></a></li>
                @*<li><a href="#"><img alt="alt_example" src="~/Content/Themes/red/images/twitter.png" border="0" /></a></li>*@
                @*<li><a href="#"><img alt="alt_example" src="~/Content/Images/more.png" border="0" /></a></li>*@
            </ul>
            <div class="info">
                <div class="comments"> @post.Shares </div>
                <h2><a href="#">@post.Title</a></h2>
                <div class="date_n_author">@post.Date.ToString("d MMMM yyyy"), by @post.Author</div>
                @Html.Raw(post.HtmlContent.Split(new string[] {"<hr />","<hr/>"},StringSplitOptions.None)[0])
                @*<a href="#" class="read_more2">read more</a>*@
                @Html.ActionLink("read more", "ViewPost", new { id = @post.Id }, new {@class="read_more2"})
            </div>
            <div class="clear">
            </div>
        </li>
    }
</ul>
@section headscripts {
    @Styles.Render("~/css/slider")
}
@section scripts {
@Scripts.Render("~/bundles/slider")
<!--******* Javascript Code for the Main banner *******-->
<script type="text/javascript">
    $(function () {

        $('#da-slider').cslider({
            autoplay: true,
            bgincrement: 450
        });

    });
</script>

}