@{
    ViewBag.Title = "Game Panel";
}
@section headscripts{
    @Styles.Render("~/css/data")
}
<div id="post_wrapper">
    <div id="header">
        <div class="info">
            <h2>Game account</h2>
            <div class="date_n_author">Character list.</div>
        </div>
    </div>

    <div id="body">
        <br />&nbsp;
        <h4>@ViewBag.StatusMessage</h4>
        <table id="char_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Level</th>
                    <th>Resets</th>
                    <th>GR</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in ViewBag.Chars)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@Mu.NETcms.Logic.ClassTranslator.ToString(c.Class)</td>
                        <td>@c.cLevel</td>
                        <td>@c.Resets</td>
                        <td>@c.GrandResets</td>
                        
                        <td>
                            @using (Html.BeginForm("Unstuck", "Game"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("name", (string)c.Name);
                                <input type="submit" value="Unstuck" title="Teleport character to Lorencia."/>
                            }
                        </td>
                        @if (@Mu.NETcms.Logic.GameManager.Create().IsCharacterReset(@c.Name))
                        {
                            <td>
                                @using (Html.BeginForm("Reset", "Game"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("name", (string)c.Name);
                                    <input type="submit" value="Reset" title="Reset character level to 1." />
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>

        </table>
        @*@foreach (var i in ViewBag.Vault)
        {
            if (i.isEmpty == false)
            {
                <h3>
                    @i.Type | @i.Id | @i.Level | @i.HasLuck | @i.HasSkill | @i.Option | @i.AncientCode | Ex: @i.ExcelentCode
                    @foreach (var opt in i.ExcOptions)
                    {
                        <h4>@opt</h4>
                    }
                </h3>
            }
        }*@
        </div>
    </div>

