
@{
    ViewBag.Title = "Game Panel";
}

<h2>Game account overview</h2>
<h3>Characters:</h3>
<h4>@ViewBag.StatusMessage</h4>
<table cellspacing="10" cellpadding="10">
    <thead>
        <tr>
            <td>Name</td>
            <td>Class</td>
            <td>Level</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Chars)
        {
            <tr>
                <td>@c.Name</td>
                <td>@Mu.NETcms.Logic.ClassTranslator.ToString(c.Class)</td>
                <td>@c.cLevel</td>
                @if (@Mu.NETcms.Logic.GameManager.Create().IsCharacterReset(@c.Name))
                {
                    <td>
                        @using (Html.BeginForm("Reset", "Game"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("name", (string)c.Name);
                            <input type="submit" value="Reset" />
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
    
</table>
@foreach (var i in ViewBag.Vault)
{
    if (i.isEmpty == false) { 
    <h3>
        @i.Type | @i.Id | @i.Level | @i.HasLuck | @i.HasSkill | @i.Option | @i.AncientCode | Ex: @i.ExcelentCode
        @foreach (var opt in i.ExcOptions)
        {
            <h4>@opt</h4>
        }
    </h3>
    }
}

